<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Golf Page</title>
	
	<%- include('./style'); %>
</head>

<body>
	<h1>PGA TOUR UPDATES</h1>
	<hr>
	<h2><a href="/rankings">World Golf Rankings</a></h2>
	<br>
	<h2><a href="/selectFavorites">Choose Your Favorite Players</a></h2>
	<br>
	<h2><a href="/favorites">Favorite Players' Upcoming Events</a></h2>
	<br>
	<h2><a href="/majors">Reset Favorites</a></h2>
	<br>
	<img id="pgaLogo" src="/static/logo.png" alt="not found">
	<hr>
	<p><em>Website made by Sammy Frankel</em></p>
	
	
</body>

</html>