<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Removed Favorites</title>
	
	<%- include('./style'); %>
</head>
<body id="process">
	<h1>YOU HAVE SUCCESFULLY RESET YOUR FAVORITES</h1>
	<hr>
	<a id="home" href="/">HOME</a>
	<br>
	
	<p><em>Website made by Sammy Frankel</em></p>
</body>
</html>