<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Favorites</title>
	
	<%- include('./style'); %>
</head>
<body id="process">
	<h1>YOU HAVE SUCCESFULLY FAVORITED THE FOLLOWING PLAYERS</h1>
	<hr>
	<%- added %>

</body>
</html>