<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>PGA TOUR RANKINGS</title>
	
	<%- include('./style'); %>
</head>
<body>
	<h1>PGA TOUR RANKINGS</h1>
	<hr>
	<%- table %>
	<hr>
	<p><em>Website made by Sammy Frankel</em> | Last updated <%- date %></p>
</body>
</html>