<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Upcoming Events</title>
	
	<%- include('./style'); %>
</head>
<body>
	<h1>FAVORITE PLAYERS UPCOMING EVENTS</h1>
	<hr>
	<%- table %>
	<hr>
	<a id="home" href="/">HOME</a>
	<br>
	<p><em>Website made by Sammy Frankel</em> | Last updated <%- date %></p>
</body>
</html>